@page "/manager/training-program-detail.htm/{TrainingProgramID}"
@model TrainingSystemManagerWEB.Pages.Manager.TraningProgramDetailModel
@{
    ViewBag.PageName = "ManagerTrainingProgram";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<div class="card-style mb-30">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Kỹ năng</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var skill in Model.Skill)
            {
            <tr id="row-@skill.SkillID">
                <td>
                    <input id="skill-@skill.SkillID" type="text" value="@skill.SkillName" disabled />
                </td>
                <td>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button id="update-btn-@skill.SkillID" type="button" class="main-btn deactive-btn-outline btn-hover btn-sm" onclick="UpdateSkillTrainingProgram(@skill.SkillID)">O</button>
                        <button type="button" class="main-btn danger-btn-outline btn-hover btn-sm" onclick="DeleteSkillTrainingProgram(@skill.SkillID)">X</button>
                    </div>
                </td>
            </tr>
            }
            <tr>
                <td><button type="button" class="main-btn primary-btn-outline btn-hover btn-sm" onclick="">✚</button></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="card-style mb-30">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Kiến thức</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var knowledge in Model.Knowledge)
            {
                <tr id="row-@knowledge.KnowledgeID">
                    <td>@knowledge.KnowledgeName</td>
                    <td>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="button" class="main-btn deactive-btn-outline btn-hover btn-sm" onclick="">✎</button>
                            <button type="button" class="main-btn danger-btn-outline btn-hover btn-sm" onclick="DeleteKnowledgeTrainingProgram(@knowledge.KnowledgeID)">✘</button>
                        </div>
                    </td>
                </tr>
            }
            <tr>
                <td><button type="button" class="main-btn primary-btn-outline btn-hover btn-sm" onclick="">✚</button></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="card-style mb-30">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Môn học</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model.Course)
            {
                <tr id="row-@course.CourseID">
                    <td>@course.CourseName</td>
                    <td>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="button" class="main-btn deactive-btn-outline btn-hover btn-sm" onclick="">✎</button>
                            <button type="button" class="main-btn danger-btn-outline btn-hover btn-sm" onclick="DeleteCourseTrainingProgram(@course.CourseID)">✘</button>
                        </div>
                    </td>
                </tr>
            }
            <tr>
                <td><button type="button" class="main-btn primary-btn-outline btn-hover btn-sm" onclick="">✚</button></td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    function UpdateSkillTrainingProgram(index) {
        $('#skill-' + index + '').prop("disabled", false);
        $('#skill-' + index + '').value("||")
    }

    function DeleteSkillTrainingProgram(index) {
            fetch('https://localhost:44321/api/training/@Model.TrainingProgramID/skill/' + parseInt(index), {
             method: 'DELETE',
             headers: {
                 'Content-Type': 'application/json'
             }
         })

        $('#row-' + index + '').remove();
    }

    function DeleteKnowledgeTrainingProgram(index) {
        fetch('https://localhost:44321/api/training/@Model.TrainingProgramID/knowledge/' + parseInt(index), {
             method: 'DELETE',
             headers: {
                 'Content-Type': 'application/json'
             }
         })

        $('#row-' + index + '').remove();
    }

    function DeleteCourseTrainingProgram(index) {
        fetch('https://localhost:44321/api/training/@Model.TrainingProgramID/course/' + parseInt(index), {
             method: 'DELETE',
             headers: {
                 'Content-Type': 'application/json'
             }
         })

        $('#row-' + index + '').remove();
    }
</script>